In [1]:
import csv
import os
import scipy.io
import time
import cPickle as pickle
from scipy.sparse import csr_matrix
import numpy as np
import pandas as pd

In [3]:
data_folder = 'mm10'
matrix_file = 'matrix.mtx'
genes_file = 'genes.tsv'
barcodes_file = 'barcodes.tsv'

matrix_file_path = os.path.join(data_folder,matrix_file)
genes_file_path = os.path.join(data_folder,genes_file)
barcodes_file_path = os.path.join(data_folder,barcodes_file)

In [4]:
# load matrix file
# takes time
mat = scipy.io.mmread(matrix_file_path)

In [5]:
print mat

  (16, 0)	1
  (37, 0)	1
  (62, 0)	9
  (95, 0)	2
  (142, 0)	1
  (150, 0)	1
  (174, 0)	1
  (177, 0)	1
  (188, 0)	4
  (199, 0)	2
  (200, 0)	1
  (208, 0)	1
  (213, 0)	1
  (227, 0)	2
  (278, 0)	1
  (336, 0)	1
  (341, 0)	1
  (342, 0)	2
  (368, 0)	1
  (375, 0)	2
  (377, 0)	1
  (395, 0)	1
  (429, 0)	2
  (465, 0)	2
  (495, 0)	1
  :	:
  (27755, 23366)	1
  (27758, 23366)	1
  (27771, 23366)	3
  (27792, 23366)	2
  (27798, 23366)	1
  (27804, 23366)	1
  (27814, 23366)	2
  (27840, 23366)	1
  (27841, 23366)	1
  (27851, 23366)	2
  (27886, 23366)	1
  (27891, 23366)	1
  (27893, 23366)	1
  (27896, 23366)	1
  (27898, 23366)	1
  (27903, 23366)	2
  (27908, 23366)	14
  (27909, 23366)	2
  (27910, 23366)	40
  (27911, 23366)	14
  (27913, 23366)	47
  (27914, 23366)	42
  (27917, 23366)	8
  (27918, 23366)	1
  (27920, 23366)	37

In [6]:
genes_path = os.path.join(data_folder, "genes.tsv")
gene_ids = [row[0] for row in csv.reader(open(genes_path), delimiter="\t")]
gene_names = [row[1] for row in csv.reader(open(genes_path), delimiter="\t")]

In [7]:
barcodes_path = os.path.join(data_folder, "barcodes.tsv")
barcodes = [row[0] for row in csv.reader(open(barcodes_path), delimiter="\t")]

In [28]:
print gene_ids[:5]

['ENSMUSG00000051951', 'ENSMUSG00000089699', 'ENSMUSG00000102343', 'ENSMUSG00000025900', 'ENSMUSG00000109048']

In [29]:
print gene_names[:5]

['Xkr4', 'Gm1992', 'Gm37381', 'Rp1', 'Rp1']

In [30]:
print barcodes[:5]

['AAACCTGAGACCCACC-1', 'AAACCTGAGCAGATCG-1', 'AAACCTGAGCTAACTC-1', 'AAACCTGCAAGCGCTC-1', 'AAACCTGCACCAGCAC-1']

In [8]:
IL = []
gene_name = 'Il10'
for i in gene_names:
    if gene_name in i:
        IL.append(i)

print IL

['Il10', 'Il10ra', 'Il10rb']

In [93]:
mat_cp = mat.todense()
df = pd.DataFrame(mat_cp)
df.columns = barcodes
df.index = gene_names
df.insert(0,'gene ids',value = gene_ids)

In [99]:
Il10_ind = gene_names.index('Il10ra')
print Il10_ind
print mat.row[Il10_ind]

18118
22772

In [107]:
Il10_row = df.loc[df.index == 'Il10'] 
Il10_row = Il10_row.T
Il10_row = Il10_row[Il10_row.values != 0]
Il10_barcodes = Il10_row.T
print Il10_barcodes.T

                                  Il10
gene ids            ENSMUSG00000016529
ACTGTCCTCTGGAGCC-1                   1
ATCATCTGTAAATACG-1                   1
ATTACTCGTTCCCTTG-1                   1
CAGATCAAGCAGCCTC-1                   1
CAGCTGGAGGGAGTAA-1                   1
CATCGGGCAGGAATCG-1                   1
CATTATCAGGCAATTA-1                   1
CATTATCCACCCTATC-1                   1
CCATGTCCACACCGCA-1                   1
CGCTTCAGTTAGGGTG-1                   2
CGTGTCTTCCCACTTG-1                   1
CTAGCCTAGTGGAGTC-1                   2
GATGCTATCGGATGGA-1                   1
TCACAAGAGGCATTGG-1                   1
TGCTGCTGTCCTGCTT-1                   1
TTCGAAGGTAAGAGAG-1                   1
AAAGCAAAGATATGGT-2                   1
AACCGCGTCACTATTC-2                   2
AACCGCGTCTCATTCA-2                   1
AAGGTTCCAACACGCC-2                   1
AGAGCGATCATAACCG-2                   1
ATCATGGGTCGACTGC-2                   3
CACACTCGTAAACGCG-2                   1
CACCAGGAGAGTCGGT-2                   1
CAGATCATCCCGACTT-2                   2
CCACTACTCACCCTCA-2                   1
CGAACATAGTCTCAAC-2                   1
CGCGTTTAGTACTTGC-2                   1
CGCTTCACAGATGAGC-2                   1
CTACACCAGCGATATA-2                   2
CTAGTGAAGACTTTCG-2                   1
CTTAGGAGTGATGCCC-2                   1
GAAATGATCGCCAGCA-2                   1
GAAGCAGTCCACGCAG-2                   2
GCATGATCACGCATCG-2                   1
GTAACGTTCGTCCAGG-2                   1
GTGCATATCGGACAAG-2                   1
TAAGTGCCAAGTTCTG-2                   1
TAGACCAGTAGCACGA-2                   1
TAGTGGTGTGCTGTAT-2                   1
TCACGAAAGGTGCACA-2                   1
TGAAAGATCTTGTATC-2                   1
TGACAACAGGGCATGT-2                   1
TGACTAGCACGTAAGG-2                   1

In [105]:
Il10ra_row = df.loc[df.index == 'Il10ra'] 
Il10ra_row = Il10ra_row.T
Il10ra_row = Il10ra_row[Il10ra_row.values != 0]
Il10ra_barcodes = Il10ra_row.T
Il10ra_barcodes

,gene ids,AAACCTGCATCCGTGG-1,AAAGTAGCACATTTCT-1,AAAGTAGTCGGTTCGG-1,AAATGCCTCGATGAGG-1,AACACGTGTGCAACGA-1,AACCGCGTCATTCACT-1,AACCGCGTCTGATTCT-1,AACTTTCCAAGTCTGT-1,AACTTTCCAGTAAGCG-1,...,TTGAACGTCTTGTATC-2,TTGCCGTTCAACACGT-2,TTGGAACTCTCTAAGG-2,TTGGCAACACCTCGGA-2,TTGTAGGAGCAGATCG-2,TTGTAGGGTCTGCAAT-2,TTGTAGGTCTATCGCC-2,TTTATGCAGTAGGCCA-2,TTTGGTTTCCGTCAAA-2,TTTGTCAAGCGGATCA-2
Il10ra,ENSMUSG00000032089,1,1,1,1,1,1,1,2,2,...,1,1,1,1,1,1,1,1,1,1

In [108]:
overlap = list(set(Il10ra_barcodes).intersection(Il10_barcodes))
overlap.remove('gene ids')
df_overlap = df[overlap].loc[['Il10','Il10ra']]
# df_overlap = df_overlap[df_overlap.values != 0]
overlap

[]